<!DOCTYPE html>
<html>
  <head>
    <title>DeltaChess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
          <nav class="navbar">
              <div class="container">
                  <div class="navbar-brand">
                      <a class="navbar-item" href="../">
                          <img src="deltachess-logo.png" alt="Logo"><span style="font-family:Pacifico;">&nbsp;DeltaChess</span>
                      </a>
                      <span class="navbar-burger burger" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                      </span>
                  </div>
                  <div id="navbarMenu" class="navbar-menu">
                      <div class="navbar-end">
                          <div class="tabs is-right">
                              <ul>
                                  <li class="is-active"><a>Home</a></li>
                                  <li><a href="">Examples</a></li>
                                  <li><a href="">Features</a></li>
                                  <li><a href="">Team</a></li>
                                  <li><a href="">Help</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
      <div class="hero-body">
            <div class="container">
                <%= yield %>
            </div>
      </div>

      <div class="hero-foot">
          <div class="container">
              <div class="is-centered">
                  <ul>
                      <li style="display:inline;"><div>&copy; 2019 <span><a href="https://douros.eu/dimitrios" target="_blank">Dimitrios Douros</a></span></div></li>
                  </ul>
              </div>
          </div>
      </div>
    </section>

    <script>
      // The following code is based off a toggle menu by @Bradcomp
      // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
      (function() {
          var burger = document.querySelector('.burger');
          var menu = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function() {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
      })();
    </script>
  </body>
</html>
